<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ektara-update connection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body class="connections_body">
    <% include partials/header.ejs %>
    <% include partials/nav.ejs %>
    <section>

        <form id="connection-form" method="POST" action="updatednewConnection?ID=<%=data[0].connectionID %>&userId=<%=data[0].userId %>"
             <p><%= alert%></p>
            <p><label for="ID"><span>Connection ID: </span></label> <%=data[0].connectionID%></p>
            <p><label for="userId"><span>UserID: </span></label><%=data[0].userId%></p>
            <p><label for="name"><span>name: </span></label><input type="text" value ="<%=data[0].connectionName%>" id="name" name="name" placeholder="name"></p>
            <p><label for="topic"><span>topic: </span></label><input type="text" value ="<%=data[0].connectionTopic%>" id="topic" name="topic" placeholder="topic"></p>
            <p><label for="detail"><span>details: </span></label><textarea  placeholder="detail" id="detail" name="detail"  rows="4" cols="40"><%=data[0].details%></textarea></p>

            <p><label for="location"><span>where: </span></label><input type="text" value ="<%=data[0].venue%>" id="location" name="location" placeholder="location"></p>
            <p><label for="date"><span>when: </span></label><input id="date" value ="<%=data[0].date%>" type="date" name="date"></p>
            <p><label for="time"><span>when: </span></label><input id="time" value ="<%=data[0].time%>" type="time" name="time"></p>
            <p> <button type="submit">update connection</button> </p>
        </form>
    </section>
<% include partials/footer.ejs %>
</body>

</html>
